<div class="row">
    <div class="col-lg-3">
        <p>SECURE PAYMENT</p>
    </div>
    <div class="col-lg-3">
        <p>TEL: +254 712 345 678</p>
        <p>E-MAIL: info@mysite.com</p>
    </div>
    <div class="col-lg-3">
        <p>&copy; 2023 by  LE Petit Nairubyst </p>
    </div>
    <div>
        <a class="social" href=""><i class="fa fa-facebook"></i></a>
        <a class="social" href=""><i class="fa fa-twitter"></i></a>
    </div>
</div>